:root {
    --radius : 30px;
    --blanc : #FFFFFF;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background: #ffffff;
    z-index:9999;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

#bg {
    width: 100vw;
    object-fit: cover;

    position: fixed;
    z-index: -10;
    right: 0;
}


/* TOUT APRES NAV */
.contenu {
    width: 100%;
    height: 92%;

    /* padding: 2rem; */

    /* background-color: blue; */

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------RECTANGLE GAUCHE --------------------------*/
.choices {
    width: 5%;
    height: 100%;

    /* border-radius: var(--radius) 0 0 var(--radius); */

    box-shadow: 5px 8px 10px rgb(110, 109, 109);
    background-color: var(--blanc);
    /* background-color: red; */


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* ------------------------- PDP -----------------------*/
    .top {
        width: 100%;

        /* background-color: aqua; */

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        padding: 0 0.5rem;

        /* PDP */
        .pdp {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;

            border-radius: 100%;

            cursor: pointer;
        }
          
    }

    
    /* ---------------SEPARATEUR ENTRE TOP ET BOTTOM ---------*/
    .divider-choices {
        height: 5px;
        width: 80%;

        margin: 10px auto;

        background-color: orange;
    }

    /* ----------------CHOIX DE FONCTIONNALITÉS ---------------*/
    .bottom {
        height: 50%;
        width: 100%;

        padding: 0.2rem 0;

        /* background-color: aquamarine; */

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        /* CHOICE */
        .element {
            width: 70%;
            height: 35px;
            /* background-color: darkmagenta; */

            display: flex;
            justify-content: center;
            align-items: center;


            /* Icone */
            .image {
                height: 70%;
                object-fit: cover;

                cursor: pointer;
            }
        }
    }

    /*---------------- Dexonnexion-------------- */
    .deconnexion {
        height: 35px;
        width: 100%;
        /* background-color: green; */

        display: flex;
        align-items: center;
        justify-content: center;


        /* Button */
        .button {
            /* background-color: orange; */
            height: 70%;
            object-fit: cover;

            cursor: pointer;
        }
    }
}


/* ------------------------ BOITE DE MESSAGES ------------------*/
.boite {
    width: 30%;
    max-width: 350px;

    height: 100%;

    display: flex;
    flex-direction: column;
    
    padding: 1rem 0;

    box-shadow: 5px 8px 10px rgb(110, 109, 109);
    background-color: var(--blanc);


    /* TITRE */
    .titre-edit {
        width: 100%;
        margin: 0 0 0.5rem 0;
        padding: 0 20px;
        @media (max-width: 900px) {
            padding: 0 15px;
        }
        @media (max-width: 850px) {
            padding: 0 10px;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: blueviolet; */
        
        /* Titre */
        .titre {
            margin: 0;
            font-weight: bold;
            font-style: oblique;
            font-size: 2.2rem;

            /* background-color: green; */
        }
    }


    /* SEPARATOR */
    .divider-boite {
        height: 5px;
        width: 55%;
        max-width: 200px;
        margin: 0 auto;

        background-color: orange;
    }

    /* COURRIER */
    .courrier_container {
        width: 100%;
        overflow-y: scroll;
    }
    .courrier_container::-webkit-scrollbar {
        background-color: white;
        width: 12px;
    }
    
    .courrier_container::-webkit-scrollbar-thumb {
        background: orange; 
    }
    .courrier {
        width: 100%;
        min-height: 100%;

        padding: 1rem 0.5rem 0 0.5rem;
        

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        /* background-color: blue; */

        /* Person */
        .person {
            height: 60px;
            width: 100%;


            /* border: 0.5px solid black; */
            
            /* background-color: red; */

            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;

            cursor: pointer;


            /* photo */
            .pdp_courrier_container {
                height: 100%;
                aspect-ratio: 1/1;
                
                display: flex;
                justify-content: center;
                align-items: center;

                /* background-color: green; */


                /* Image */
                .pdp_courrier {
                    height: 70%;
                    aspect-ratio: 1/1;
                    object-fit: cover;

                    border-radius: 100%;

                    cursor: pointer;
                }
            }

            /* Text */
            .courrier_txt {
                height: 100%;
                width: 100%;

                padding: 0.4rem 0;

                color: black;
                margin-left: 0.5rem;
                /* background-color: blue; */

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                justify-content: center;
                align-items: flex-start;


                /* Nom de la personne */
                .name_courrier {
                    margin: 0;
                    font-size: 1.1rem;
                    font-weight: bolder;
                }

                /* Last msg */
                .last_mail {
                    font-size: 1rem;
                }
            }
        }

        .person:hover {
            background-color: rgb(244, 244, 244);
        }
    }

}


/* LIGNE VERTICAL SEPARANT CHOIX ET FONCTION */
.separator {
    height: 100%;
    width: 5px;
}


@media (max-width: 800px) {
    .boite {
        width: 100%;
        max-width: 100vw;

        .titre-edit {
            padding: 0 15px;
        }

        .courrier {
            padding: 1rem 1rem 0 1rem;
        }
    }
    .separator {
        display: none;
    }
}



@media (max-height: 562.5px) {
    #cover, .contenu{
        height: calc(100% - 45px);
    }
    nav {
        height: 45px !important;
    }
}