* {
    font-family: poppins;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#bg {
    height: 100vh;

    position: fixed;
    z-index: -10;
    right: 0;
}

main  {
    width: 50vw;
    min-width: 463px;
    flex-grow: 1;


    padding-left: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.text {
    font-size: 2.9rem;
}

.button {
    width: 120px;
    padding: 10px 15px;
    
    background-color: #FF922C;
    color: white;

    border-radius: 30px;

    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.button:hover{
    box-shadow: rgb(145, 144, 144) 2px 2px 2px 2px;
}

a {
    text-decoration: none;
    color: inherit;
}