:root {
    --radius : 30px;
    --blanc : #FFFFFF;

    --police : 2rem;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

#bg {
    width: 100vw;
    object-fit: cover;

    position: fixed;
    z-index: -10;
    right: 0;
}


/* TOUT APRES NAV */
.contenu {
    width: 100%;
    height: 92vh;

    /* padding: 2rem; */

    /* background-color: blue; */

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------RECTANGLE GAUCHE --------------------------*/
.choices {
    width: 5%;
    height: 100%;

    border-radius: var(--radius) 0 0 var(--radius);

    box-shadow: 5px 8px 10px rgb(110, 109, 109);
    background-color: var(--blanc);
    /* background-color: red; */


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* ------------------------- PDP -----------------------*/
    .top {
        width: 100%;

        /* background-color: aqua; */

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        padding: 0 0.5rem;

        /* PDP */
        .pdp {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;

            border-radius: 100%;

            cursor: pointer;
        }
          
    }

    
    /* ---------------SEPARATEUR ENTRE TOP ET BOTTOM ---------*/
    .divider-choices {
        height: 5px;
        width: 80%;

        margin: 10px auto;

        background-color: orange;
    }

    /* ----------------CHOIX DE FONCTIONNALITÉS ---------------*/
    .bottom {
        height: 50%;
        width: 100%;

        padding: 0.2rem 0;

        /* background-color: aquamarine; */

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        /* CHOICE */
        .element {
            width: 70%;
            height: 35px;
            /* background-color: darkmagenta; */

            display: flex;
            justify-content: center;
            align-items: center;


            /* Icone */
            .image {
                height: 70%;
                object-fit: cover;

                cursor: pointer;
            }
        }
    }

    /*---------------- Dexonnexion-------------- */
    .deconnexion {
        height: 35px;
        width: 100%;
        /* background-color: green; */

        display: flex;
        align-items: center;
        justify-content: center;


        /* Button */
        .button {
            /* background-color: orange; */
            height: 70%;
            object-fit: cover;

            cursor: pointer;
        }
    }
}


/* ------------------------- RESTAURANT --------------------------- */
.restaurant_container {
    height: 100%;
    flex-grow: 1;
    background-color: #FFFFFF;

    .titre_container {
        background-color: red;
        height: 60px;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;

        .titre {
            /* background-color: green; */
            margin: 0;
            font-size: var(--police);
            font-weight: bold;
            color: orange;
            margin-right: 2rem;
        }

        /* Restaurant */
        .name_container {
            /* background-color: blue; */

            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;

            .name {
                font-size: var(--police);
                font-weight: bolder;
                font-style: italic;
                
                margin-right: 1rem;
            }
            .choose {
                margin-top: 6px;
                height: 20%;
            }
        }
    }
}


/* ------------------LIGNE VERTICAL SEPARANT CHOIX ET FONCTION -----------*/
.separator {
    height: 100%;
    width: 5px;
}