@font-face {
	font-family: 'Poppins';
	src: url('path/to/Poppins-Regular.ttf') format('truetype'),
	url('path/to/Poppins-Regular.woff') format('woff'),
	url('path/to/Poppins-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
	margin: 0;
}

#intro {
	max-width: 420px;
	margin: 0 auto;
	padding: 0 20px;
}

p {
	text-align: center;
	margin: 1.5rem 0px;
}

.container {
	width: 80%;
	max-width: 600px;
	height: 400px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	margin: 0 auto;
	padding: 2.8rem 3rem 3.8rem 3rem;

	background-color: #FFFFFF;
	border-radius: 20px;
	box-shadow: 0px 0px 15px 1px rgba(148, 148, 148, 0.5);

	/* background-color: aqua; */
}

.titre_connect {
	margin: 0;
	color: #FF922C;
	text-align: center;

	font-size: 2.2rem;

	/* background-color: aquamarine; */
}


.champs {
	/* background-color: red; */
	height: 70%;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
}

@media (max-width: 600px) {
	.container {
		height: 380px;
		padding: 2rem 2rem 3rem 2rem;
	}

	.champs {
		height: 75%;
	}

	.titre_connect {
		font-size: 1.8rem;
	}

	p {
		font-size: 0.8rem;
	}
}

.champ {
	display: block;
	width: 100%;
	padding: 10px 20px;

	border: 2px solid #FF922C;
	border-radius: 20px;
}

.submit_container {
	width: 100%;
	padding: 0 2rem;
	/* background-color: red; */
}
.bouton_connect {
	display: block;
	width: 100%;
	padding: 10px 20px;

	border: 2px solid var(--orange);
	border-radius: 20px;

	background-color: var(--orange);

	color: black;
	text-align: center;
	font-weight: bolder;

	cursor: pointer;
}

.conditions {
	text-decoration: none;
	color: #FF922C;
}

#end {
	margin: 18px auto;
	margin-top: 27px;
	padding: 0 20px;

	text-align: center;
}