@charset "UTF-8";
:root {
  --radius: 30px;
  --blanc: #FFFFFF;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#bg-topright {
  width: 30vw;
  min-width: 150px;
  margin-top: 8vh;
  position: fixed;
  z-index: -100;
  right: 0;
  top: 0;
}

#bg-botleft {
  width: 30vw;
  min-width: 150px;
  position: fixed;
  z-index: -100;
  left: 0;
  bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}

#bg {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  z-index: -10;
  right: 0;
}

/* TOUT APRES NAV */
.contenu {
  width: 100%;
  height: 92vh;
  min-height: 450px;
  max-height: 680px;
  /* padding: 2rem; */
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RECTANGLE GAUCHE */
.choices {
  width: 20vw;
  min-width: 230px;
  height: 100%;
  padding-top: 1rem;
  /* border-radius: var(--radius) 0 0 var(--radius); */
  box-shadow: 1px 8px 10px rgb(110, 109, 109);
  background-color: var(--blanc);
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* BONJOUR + PDP  */
  /* SEPARATEUR ENTRE TOP ET BOTTOM */
  /* CHOIX DE FONCTIONNALITÉS */
  /* Dexonnexion */
}
.choices .top {
  height: 24%;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0;
  /* Bonjour */
  /* PDP - edit */
}
.choices .top .bonjour {
  margin: 0;
}
.choices .top .pdp_and_buttons {
  /* position: relative; */
  height: 80px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background-color: red; */
  /* pdp */
  /* save and cancel */
}
.choices .top .pdp_and_buttons .pdp_container {
  position: relative;
  /* position: absolute; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  aspect-ratio: 1/1;
  /* background-color: green; */
  /* Image and edit */
  /* Edit */
}
.choices .top .pdp_and_buttons .pdp_container .img_container {
  position: absolute;
  /* background-color: blue; */
  height: 100%;
  aspect-ratio: 1/1;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* photo */
}
.choices .top .pdp_and_buttons .pdp_container .img_container .pdp {
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
.choices .top .pdp_and_buttons .pdp_container .label {
  z-index: 100;
  /* background-color: red; */
  display: flex;
  align-items: flex-end;
  /* display: none; */
  /* Button */
}
.choices .top .pdp_and_buttons .pdp_container .label .edit_pdp {
  width: 15px;
  cursor: pointer;
  /* background-color: gray; */
}
.choices .top .pdp_and_buttons #changes_pdp {
  width: 100%;
  z-index: 100;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
  /* Save, Cancel */
}
.choices .top .pdp_and_buttons #changes_pdp #save_pdp, .choices .top .pdp_and_buttons #changes_pdp #cancel_pdp {
  height: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.choices .divider-choices {
  height: 5px;
  width: 80%;
  max-width: 250px;
  margin: 10px auto;
  background-color: orange;
}
.choices .bottom {
  height: 50%;
  width: 100%;
  padding: 0.2rem 0;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* CHOICE */
}
.choices .bottom .element {
  width: 80%;
  height: 35px;
  /* background-color: darkmagenta; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Icone */
}
.choices .bottom .element .bot_image_container {
  height: 70%;
  width: 40px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}
.choices .bottom .element .bot_image_container .image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* background-color: red; */
}
.choices .bottom .element .text {
  width: auto;
}
.choices .deconnexion {
  height: 10%;
  width: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Button */
}
.choices .deconnexion .button {
  background-color: orange;
  padding: 8px 12px;
  border-radius: 20px;
}

/* LIGNE VERTICAL SEPARANT CHOIX ET FONCTION */
.separator {
  height: 100%;
  width: 5px;
}

@media (max-width: 750px) {
  .separator {
    display: none;
  }
  .choices {
    width: 100%;
    min-width: 0;
    max-width: 350px;
    box-shadow: none;
    background-color: transparent;
  }
  .choices .top {
    max-height: 130px !important;
  }
}
@media (max-height: 500px) {
  .choices {
    padding-top: 10px;
  }
  .choices .top .bonjour {
    margin-bottom: 5px;
  }
  .choices .divider-choices {
    margin: 0 auto;
  }
}/*# sourceMappingURL=profil.css.map */