{% extends "template.html" %}

{% block body %}
    <style>
        input, select {
            outline: none;
        }

        h1 {
            margin: 10px 0 2px 0;
        }

        p {
            margin-top: 0;
            margin-bottom: 3px;
        }
    </style>
    
    <div style="height: 100vh; width: 100%; display:flex; flex-direction: column; justify-content: center;">
        <form action="/registered" method="post" enctype = "multipart/form-data"
        style="display: flex; justify-content: space-between; flex-direction: column;
        height: 85vh; width:30vw; margin:0 auto; background-color: #FAEDCD; padding: 10px 0; border-radius: 20px;
        box-shadow : 10px 5px 30px grey">
            <h1 style="text-align: center">Inscription</h1>

            <div style="margin: 0 auto; width: 80%">
                <p>Username</p>
                <input type="text" name="name" autofocus autocomplete="off" placeholder="Username"
                style="padding: 12px; width: 90%; background-color:#E9DCBC ; border:none ; border-radius: 15px">
            </div>

            <div style="margin: 0 auto; width: 80%">
                <p>Password</p>
                <input type="password" name="password" autofocus autocomplete="off" placeholder="Password"
                style="padding: 12px ; width: 90%; background-color:#E9DCBC ; border:none ; border-radius: 15px">
            </div>

            <div style="margin: 0 auto; width: 80%">
                <p>Ecole</p>
                <select name="ecole" required style="width: 100%; padding: 12px; background-color: #E9DCBC; border:none;
                border-radius: 12px;">
                    <option selected disabled>Ecole</option>
                    {% for ecole in ecoles %}
                        <option value={{ ecole }}>{{ ecole }}</option>
                    {% endfor %}
                </select>
            </div>

            <div style="margin: 0 auto; width: 80%">
                <label for="pdp">
                    <a style="width: 120px; height: 20px; display:block ; padding: 4px 10px; border-radius: 8px;
                    background-color: #E9DCBC; margin: 0 auto;">
                        Choisir une Photo
                    </a>
                </label>
                <input id="pdp" name="pdp" type="file" style="display: none">

            </div>

            <input style="width: 80px; display:block; margin: 0 auto" type="submit" value="Register">
        </form>

        <div style="margin: 20px auto 0 auto">
            <a href="/inscrits">Voir les inscrits</a>
        </div>
    </div>
{% endblock %}