<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <!-- css -->
    <link rel="stylesheet" href="/static/css/aboutus.css">
    <!-- Nav -->
    <link rel="stylesheet" href="/static/navbar/navbar.css">
    <script src="/static/navbar/navbar.js"></script>
</head>
<body>
    <img id="bg" src="/static/img/fond2.png" alt="bg_img">
    
    <!-- Nav -->
    <nav>
        <a id="nav_marque" href="/">Taste IT</a>
        
        <button id="nav_button">
            <img src="/static/navbar/menu.png" alt="menu">
        </button>

        <div id="nav_add">
        <a id="nav_home" class="nav_el" href="/">Home</a>
        <a class="nav_el" href="/dishes">Dishes</a>
        <a class="nav_el" href="/restaurants">Restaurants</a>
        <a class="nav_el" href="/aboutus">About us</a>
        <!-- Compte / Connexion -->
        {% if 'compte' in session %}
            {% if session['compte']['pdp'] != '' %}
                <img class="nav_pdp" src="data:;base64,{{ session['compte']['pdp'] }}" alt="PDP"
                onclick="window.location = '/profil';">
            {% else %}
                <img class="nav_pdp" src="/static/img/pdp.png" alt="PDP"
                onclick="window.location = '/profil';">
            {% endif %}
        {% else %}
            <a class="nav_el" href="/signin">Sign in</a>
        {% endif %}
        </div>
    </nav>

    <!-- Content -->

    <div class="about">
        <h1 class="titre">About us</h1>

        <div class="contenant">
            <div class="text">
                <span style="display: block;" class="t1">
                    This website is the result produced by the efforts <br>
                    of trying to democratize food’s testing before <br>
                    buying , a ‘demo’ version , just like all the other <br>
                    consumer products (video games, computers, films ...) .
                </span>
                <span style="display: block;" class="t2">
                    We are a team of computer science enthusiasts, <br> realizing this project in
                    the cadre of HackIn, <br> organized by the CSE club of ESI .
                    <br><br><br> <a style="color : #ff922c" href="#">Contact us here</a>
                </span>
            </div>

            <div>
                <img class="image" src="/static/img/Logo noir.png" alt="">
            </div>
        </div>
    </div>
    
</body>
</html>