{% extends 'layout.html' %}

{% block head %}

    <title>About us</title>
    
    <!-- css -->
    <link rel="stylesheet" href="/static/css/aboutus.css">
    
{% endblock %}


{% block beforenav %}

    <img id="bg" src="/static/img/fond2.png" alt="bg_img">

{% endblock %}

{% block body %}

    <!-- Content -->
    <div class="about">
        <h1 class="titre">About us</h1>

        <div class="contenant">
            <div class="text">
                <span style="display: block;" class="t1">
                    This website is the result produced by the efforts <br>
                    of trying to democratize food’s testing before <br>
                    buying , a ‘demo’ version , just like all the other <br>
                    consumer products (video games, computers, films ...) .
                </span>
                <span style="display: block;" class="t2">
                    We are a team of computer science enthusiasts, <br> realizing this project in
                    the cadre of HackIn, <br> organized by the CSE club of ESI .
                    <br><br><br> <a style="color : #ff922c" href="#">Contact us here</a>
                </span>
            </div>

            <div>
                <img class="image" src="/static/img/Logo noir.png" alt="">
            </div>
        </div>
    </div>
    
{% endblock %}