{% extends 'layout.html' %}

{% block head %}

    <title>Taste It - Home</title>
    
    <!-- css -->
    <link rel="stylesheet" href="/static/css/home.css">
    <!-- js -->
    <script src="/static/js/home.js"></script>
    
    <!-- animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

{% endblock %}


{% block beforenav %}
    <!-- For covering until loaded -->
    <div id="cover"></div>

    <!-- bg -->
    <img id="bg" src="/static/img/bghome.png" alt="bg_img">
    <div id="bg-sheet"></div>

{% endblock %}
    
{% block body %}
    <!-- Content -->
    <main>
        <div data-aos="fade-right">
            <div class="text">
                <h3 style="color: #FF922C;"><b>Taste it</b></h3>
                <p><b>Delicious Food <br> Will Make You Say</b></p>
                <p style="color: #FF922C;"><b>Yummy!</b></p>
            </div>
        </div>

        <!-- Order now -->
        <div class="button" onclick="document.querySelector('#order').click();">
            <a id="order" href="/dishes">Order Now</a>
        </div>
    </main>
            
    <!-- Animation -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    
{% endblock %}