<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!-- Custom -->
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <!-- Nav -->
    <link rel="stylesheet" href="/navbar/navbar.css">
    <script src="/navbar/navbar.js"></script>
    <!-- Footer -->
    <link rel="stylesheet" href="/footer/style.css">
</head>
<body>
    <!-- Nav -->
    <nav>
        <a id="nav_marque" href="/">Ryolin</a>
        
        <button id="nav_button">
            <img src="/navbar/menu.png" alt="menu">
        </button>

        <div id="nav_add">
        <a id="nav_home" class="nav_el" href="/">Home</a>
        <a class="nav_el" href="/projects/">Projects</a>
        <a class="nav_el" href="/education/">Education</a>
        <a class="nav_el" href="/skills/">Skills</a>
        <a class="nav_el" href="/contact/">Contact</a>
        </div>
    </nav>

    <!-- Titre -->
    <header><h1>PROJECTS</h1></header>

    <!-- Contenus -->
    <main>
        <a href="/" class="element">
            <div class="el_top">
                <img src="../img/backgr.jpg" alt="">
                <i class="date">23/04/2023, Alger</i>
                <h3 class="titre">Portfolio</h3>
            </div>
            <div class="separator">
                <hr>
            </div>
            <div class="el_txt">
                <em>This is the portfolio that I made for myself
                    for pset8 of cs50, where I applied what I learned
                    in the course.
                </em>
            </div>
        </a> 
    </main>
    <div id="div_plus"><a id="plus" href="">Voir plus</a></div>

    <!-- Footer -->
    <footer>
        <div id="footer_brand"><p>Portfolio</p></div>
        
        <div id="social">
            <a target="_blank" href="https://www.instagram.com/manil_rb/">
                <img src="../footer/instagram.png" alt="">
            </a>
            <a target="_blank" href="https://www.facebook.com/ryoliin/">
                <img src="../footer/facebook.png" alt="">
            </a>
            <a target="_blank" href="https://dz.linkedin.com/in/manil-rabia">
                <img src="../footer/linkedin.png" alt="">
            </a>
        </div>
        <div id="copyright"><span>&copyCopyright</span> <span>2023</span></div>
    </footer>
</body>
</html>