<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messagerie</title>

    <!-- socket -->
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="/static/css/messages/messages.css">
    <link rel="stylesheet" href="/static/css/messages/discussion.css">
    <link rel="stylesheet" href="/static/css/messages/{{ adr }}_mob.css">
    <!-- js -->
    <script src="/static/js/messages.js"></script>

    <!-- Nav -->
    <link rel="stylesheet" href="/static/navbar/navbar.css">
    <script src="/static/navbar/navbar.js"></script>
</head>
<body>
    <!-- For covering until loaded -->
    <div id="cover"></div>
    
    <!-- Nav -->
    <nav>
        <a id="nav_marque" href="/">Taste IT</a>
        
        <button id="nav_button">
            <img src="/static/navbar/menu.png" alt="menu">
        </button>

        <div id="nav_add">
        <a id="nav_home" class="nav_el" href="/">Home</a>
        <a class="nav_el" href="/dishes">Dishes</a>
        <a class="nav_el" href="/restaurants">Restaurants</a>
        <a class="nav_el" href="/aboutus">About us</a>
        <!-- Compte -->
        {% if person['pdp'] != '' %}
            <img class="nav_pdp" src="data:;base64,{{ person['pdp'] }}" alt="PDP"
            onclick="window.location = '/profil';">
        {% else %}
            <img class="nav_pdp" src="/static/img/pdp.png" alt="PDP"
            onclick="window.location = '/profil';">
        {% endif %}
        
        </div>
    </nav>

    <!-- Content -->
    <div class="contenu">
        <!-- Choix de personnes -->
        <div class="boite">
            <!-- Titre -->
            <div class="titre-edit">
                <img style="width: 30px;" src="/static/img/go_back.png" alt="go back"
                onclick="window.location.pathname = '/profil';">
                <p class="titre">Messages</p>
                <div style="width: 30px; height: 1px"></div>
            </div>

            <!-- Separator -->
            <div class="divider-boite"></div>

            <!-- Courrier -->
            <div class="courrier_container">
                <div class="courrier">
                    {% for user in people %}
                    {% if user['id'] != person['id'] %}
                        <div id={{ user['id'] }} onClick="load_destinataire({{ user['id'] }});" class="person">
                            <!-- style="background-color: orange;" -->
                            <div class="pdp_courrier_container">
                                {% if user['pdp'] != '' %}
                                    <img class="pdp_courrier" style="cursor: default;" src="data:;base64,{{ user['pdp'] }}" alt="PDP">
                                {% else %}
                                    <img class="pdp_courrier" style="cursor: default;" src="/static/img/pdp.png" alt="PDP">
                                {% endif %}
                            </div>
                            <div class="courrier_txt">
                                <p class="name_courrier">{{ user['username'] }}</p>
                                <!-- <em class="last_mail">Coucou</em> -->
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="separator"></div>

        <!-- Messagerie -->
        <div class="messagerie">
            <!-- Info destinataire -->
            <div id="{{ id }}" class="destinataire">
                <img id="go_back_discu" style="display: none;" src="/static/img/goback_black.png" alt="go back"
                    onclick="window.location.pathname = '/messages';">
                <div class="info">
                    <img class="pdp_messagerie" src="/static/img/pdp.png" alt="">
                    <p class="name_message">Rabia Manil</p>
                </div>
                <img class="detail" src="/static/img/coeur.png" alt="">
            </div>

            <!-- Messages -->
            <div class="messages_container">
                <div class="messages">
                    <input id='0' type="hidden">
                </div>
            </div>

            <!-- Input -->
            <div class="user_input">
                <input class="text_zone" type="text" name="input" placeholder="Your message...">
                <div class="icones">
                    <img id="file" class="icone" src="/static/img/coeur.png" alt="">
                    <img id="send" class="icone" src="/static/img/save.png" alt="">
                </div>
            </div>
        </div>


    </div>
</body>
</html>