<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/dishes/insert" method="post" enctype = "multipart/form-data">
        <p>Nom :</p>
        <input name="name" type="text">
        
        <p>Type :</p>
        <input name="type" type="text">

        <p>Prix :</p>
        <input name="price" type="text">

        <p>Photo :</p>
        <input name="photo" type="file">


        <br><br><br><br>
        <input type="submit" value="Ajouter">
    </form>
</body>
</html>