<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ person['username'] }}</title>

    <!-- css -->
    <link rel="stylesheet" href="/static/css/profil/profil.css">
    <link rel="stylesheet" href="/static/css/profil/info.css">
      
    <!-- for mobile -->
    <link rel="stylesheet" href='/static/css/profil/{{ adr }}_mob.css'>
    
    <!-- js -->
    <script src="/static/js/profil.js"></script>
    <!-- Nav -->
    <link rel="stylesheet" href="/static/navbar/navbar.css">
    <script src="/static/navbar/navbar.js"></script>
</head>
<body>
    <!-- bg -->
    <img id="bg-topright" src="/static/img/bg-topright.png" alt="bg_img">
    <img id="bg-botleft" src="/static/img/bg-botleft.png" alt="bg_img">

    <!-- Nav -->
    <nav>
        <a id="nav_marque" href="/">Taste IT</a>
        
        <button id="nav_button">
            <img src="/static/navbar/menu.png" alt="menu">
        </button>

        <div id="nav_add">
        <a id="nav_home" class="nav_el" href="/">Home</a>
        <a class="nav_el" href="/dishes">Dishes</a>
        <a class="nav_el" href="/restaurants">Restaurants</a>
        <a class="nav_el" href="/aboutus">About us</a>
        <!-- Compte -->
        {% if person['pdp'] != '' %}
            <img class="nav_pdp" src="data:;base64,{{ person['pdp'] }}" alt="PDP"
            onclick="window.location = '/profil';">
        {% else %}
            <img class="nav_pdp" src="/static/img/pdp.png" alt="PDP"
            onclick="window.location = '/profil';">
        {% endif %}
        
        </div>
    </nav>

    <!-- Content -->
    <div class="contenu">
        <!-- Menu -->
        <div class="choices">
            <!-- Bonjour + pdp -->
            <div class="top">
                <!-- Bonjour -->
                <p class="bonjour">Bonjour, {{ person['username'] }}</p>
                <!-- pdp -->
                <div class="pdp_and_buttons">
                    <div class="pdp_container">
                        <!-- photo -->
                        <div class="img_container">
                            {% if person['pdp'] != '' %}
                                <img class="pdp" src="data:;base64,{{ person['pdp'] }}" alt="PDP">
                            {% else %}
                                <img class="pdp" src="/static/img/pdp.png" alt="PDP">
                            {% endif %}
                        </div>

                        <!-- Edit -->
                        <label id="label_edit_pdp" class="label" for="pdp">
                            <img class="edit_pdp" src="/static/img/edit.png" alt="">
                        </label>
                        <!-- Input -->
                        <input id="pdp" type="file" name="pdp" hidden>
                    </div>

                    <!-- Save and cancel -->
                    <div id="changes_pdp">
                        <img id="cancel_pdp" src="/static/img/cancel.png" alt="">
                        <img id="save_pdp" src="/static/img/save.png" alt="">
                    </div>
                </div>
                
            </div>
            <!-- Separator -->
            <div class="divider-choices"></div>
            <!-- Fonctionanalities -->
            <div class="bottom">
                <div class="element">
                    <div class="bot_image_container">
                        <img class="image" src="/static/img/info.png" alt="">
                    </div>
                    <a href="/info" class="text">Informations</a>
                </div>
                <div class="element">
                    <div class="bot_image_container">
                        <img class="image" src="/static/img/coeur.png" alt="">
                    </div>
                    <a class="text">Favoris</a>
                </div>
                <div class="element">
                    <div class="bot_image_container">
                        <img class="image" src="/static/img/messages.png" alt="">
                    </div>
                    <a href="/messages" class="text">Messages</a>
                </div>
                <div class="element">
                    <div class="bot_image_container">
                        <img class="image" src="/static/img/restaurant.png" alt="">
                    </div>
                    <a class="text">Mes restaurants</a>
                </div>
                <div class="element">
                    <div class="bot_image_container">
                        <img class="image" src="/static/img/commande.png" alt="">
                    </div>
                    <a class="text">Mes commandes</a>
                </div>
            </div>
            <!-- Separator -->
            <div class="divider-choices"></div>
            <!-- Deconnexion -->
            <div class="deconnexion">
                <a class="button" href="/logout">Deconnexion</a>
            </div>
        </div>


        <div class="separator"></div>

        <div class="fonction">
            <!-- Titre -->
            <div class="titre-edit">
                <img class="go_back" onclick="window.location.pathname = '/profil'" src="/static/img/go_back.png" alt="">

                <p class="titre">Informations</p>

                <img id="edit" src="/static/img/edit.png" alt="">
                <div id="changes">
                    <img id="cancel" src="/static/img/cancel.png" alt="">
                    <img id="save" src="/static/img/save.png" alt="">
                </div>
            </div>

            <!-- Separator -->
            <div class="divider-fonction"></div>

            <!-- Infos -->
            <div class="informations">
                <input id="id" name="id" type="hidden" value="{{ person['id'] }}">
                <div class="info">
                    <div class="key">Username</div>
                    <div class="value">
                        <span class="stat">{{ person['username'] }}</span>
                        <input id="username" name="username" class="input" type="text" value="{{ person['username'] }}">
                    </div>
                    <span class="status"></span>
                </div>
                <div class="info">
                    <div class="key">Passsword</div>
                    <div class="value">
                        <span class="stat">{{ person['password'] }}</span>
                        <input id="password" name="password" class="input" type="text" value="{{ person['password'] }}">
                    </div>
                    <span class="status"></span>
                </div>
                <div class="info">
                    <div class="key">Nom</div>
                    <div class="value">
                        <span class="stat">{{ person['last_name'] }}</span>
                        <input id="last_name" name="last_name" class="input" type="text" value="{{ person['last_name'] }}">
                    </div>
                    <span class="status"></span>
                </div>
                <div class="info">
                    <div class="key">Prenom</div>
                    <div class="value">
                        <span class="stat">{{ person['first_name'] }}</span>
                        <input id="first_name" name="first_name" class="input" type="text" value="{{ person['first_name'] }}">
                    </div>
                    <span class="status"></span>
                </div>
                <div class="info">
                    <div class="key">Adresse</div>
                    <div class="value">
                        <span class="stat">{{ person['adress'] }}</span>
                        <input id="adress" name="adress" class="input" type="text" value="{{ person['adress'] }}">
                    </div>
                    <span class="status"></span>
                    
                </div>
                <div class="info">
                    <div class="key">Telephone</div>
                    <div class="value">
                        <span class="stat">{{ person['phone'] }}</span>
                        <input id="phone" name="phone" class="input" type="text" value="{{ person['phone'] }}">
                    </div>
                    <span class="status"></span>
                </div>
                <div class="info">
                    <div class="key">Email</div>
                    <div class="value">
                        <span class="stat">{{ person['email'] }}</span>
                        <input id="email" name="email" class="input" type="text" value="{{ person['email'] }}">
                    </div>
                    <span class="status"></span>
                </div>
                <input type="submit" hidden>
            </div>
        </div>
    </div>
</body>
</html>