<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/signup.css">
    <!-- Nav -->
    <link rel="stylesheet" href="/static/navbar/navbar.css">
    <script src="/static/navbar/navbar.js"></script>
</head>
<body>
    <!-- Nav -->
    <nav>
        <a id="nav_marque" href="/">Taste IT</a>
        
        <button id="nav_button">
            <img src="/static/navbar/menu.png" alt="menu">
        </button>

        <div id="nav_add">
        <a id="nav_home" class="nav_el" href="/">Home</a>
        <a class="nav_el" href="/dishes">Dishes</a>
        <a class="nav_el" href="/restaurants">Restaurants</a>
        <a class="nav_el" href="/aboutus">About us</a>
        <!-- Compte / Connexion -->
        {% if 'compte' in session %}
            {% if session['compte']['pdp'] != '' %}
                <img class="nav_pdp" src="data:;base64,{{ session['compte']['pdp'] }}" alt="PDP"
                onclick="window.location = '/profil';">
            {% else %}
                <img class="nav_pdp" src="/static/img/pdp.png" alt="PDP"
                onclick="window.location = '/profil';">
            {% endif %}
        {% else %}
            <a class="nav_el" href="/signin">Sign in</a>
        {% endif %}
        </div>
    </nav>


    <!-- Content -->
    <p>Inscrivez-vous pour profiter de toutes les fonctionnalitées de notre site</p>
    
    <!-- Inscription -->
    <form method="POST" action="/register" class="container" enctype = "multipart/form-data">
        <h1 class="titre_connect">Inscription</h1>
        <div class="champs">
            <input name="username" type="text" autofocus autocomplete="off"
            placeholder="Enter your username" class="champ">

            <input name="email" type="email" autocomplete="off"
            placeholder="Enter your email" class="champ">

            <input name="password" type="password" autocomplete="off"
            placeholder="Enter your password" class="champ">

            <input type="submit" class="bouton_connect" value="Sign up">
        </div>
    </form>

    <!-- Fin -->
    <p>En cliquant sur Inscrivez vous, vous indiquez que vous avez lu, compris et accepté les
        <a class="conditions" href="">conditions d'utilisation</a>.</p>

</body>
</html>