{% extends 'layout.html' %}

{% block head %}

    <title>Dishes</title>

    <!-- css -->
    <link rel="stylesheet" href="/static/css/restaurants.css">
    <!-- js -->
    <script>
        // Recherche
        let query = {{ search | tojson }};
        if (query != '')
        {
            query = '&q=' + query;
        }
    </script>
    <script src="/static/js/restaurants.js"></script>

{% endblock %}


{% block beforenav %}

    <!-- bg -->
    <img id="bg-topright" src="/static/img/bg-topright.png" alt="bg_img">
    <img id="bg-botleft" src="/static/img/bg-botleft.png" alt="bg_img">

{% endblock %}


{% block body %}

    <!-- Content -->
    <!-- Barre de recherche -->
    <div class="search">
        <!-- Titre -->
        <h1 class="text">Restaurants</h1>
        <!-- Barre -->
        <form id="recherche" method="get" action="/restaurants/search">
            <input name="q" type="search" class="barre" placeholder="search">
            <input type="submit" value="search" class="button">
        </form>
    </div>
     
    <!-- Titre -->
    <div class="titre">
        {% if search == '' %}
            <h1>Our Popular Restaurants</h1>
        {% else %}
            <h1>Results of : ' {{ search }} '</h1>
        {% endif %}
    </div>

    <!-- Cards -->
    <main>
        <!-- Card -->
        <article href="/" class="element" style="display: None;">
            <!-- Image -->
            <div class="image">
                <img name="photo" src="/static/img/restaurant 1.png" alt="">
            </div>

            <!-- Details -->
            <div class="ecriture">
                <!-- Arriere plan blanc -->
                <div class="bg-container">
                    <div class="img-container">
                        <img src="/static/img/rectangle.png" alt="Image" />
                    </div>
                </div> 
                <!-- Description -->
                <div class="el_txt">
                    <h3 name="nom" class="restaurant">Arabesque</h3>
                    <i name="adresse" class="adresse">Didouch Mourad, Alger</i>   
                    <form method="get" action="/restaurant" class="info">
                        <p name="rating" class="rating">50 %</p>
                        <input name="id" type="hidden" value="id">
                        <input type="submit" class="more" value="more">
                        <img src="/static/img/coeur.png" class="like">
                    </form>
                </div>
            </div>
        </article>
    </main>

    <!-- see more -->
    <div class="seemore">
        <a id="plus" href="">see more</a>
    </div>
    
{% endblock %}